/* Product Sans */
@font-face {
	font-family: "Product Sans";
	src: url(../../assets/fonts/product-sans-regular.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Product Sans";
	src: url(../../assets/fonts/product-sans-medium.ttf);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Product Sans";
	src: url(../../assets/fonts/product-sans-bold.ttf);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* Tomorrow */
@font-face {
	font-family: "Tomorrow";
	src: url(../../assets/fonts/tomorrow-regular.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Tomorrow";
	src: url(../../assets/fonts/tomorrow-medium.ttf);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Tomorrow";
	src: url(../../assets/fonts/tomorrow-semibold.ttf);
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}